<div class="content">
	<div class="grid">
		<div class="contentGrid">
			{{#if data.protocols}}
				{{ProtocolsServiceOGC data.protocols i18n}}
			{{/if}}
			{{#if data.alias}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.alias}}">{{i18n.alias}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{data.alias}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.description}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.description}}">{{i18n.description}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{data.description}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.styles}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.style}}">{{i18n.style}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{Keyword data.styles}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.themeInspire}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.themeInspire}}">{{i18n.themeInspire}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}} detailsRowWithBadge">
						{{ActivityInspireTheme data i18n}}
						<span>{{data.themeInspire.name}}</span>
					</div>
				</div>
			{{/if}}
			{{#if data.updated}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.updated}}">{{i18n.updated}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{DateTime data.updated}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.inserted}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.updated}}">{{i18n.inserted}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{DateTime data.inserted}}</p>
					</div>
				</div>
			{{/if}}
			<div>
				<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
					<span title="{{i18n.shownInAtlas}}">{{i18n.shownInAtlas}}</span>
				</div>
				<div class="{{RowColServiceOGCCatalog 'right'}}">
					<p>
						{{#if data.atlas}}
							{{i18n.enabled}}
						{{/if}}
						{{#unless data.atlas}}
							{{i18n.disabled}}
						{{/unless}}
					</p>
				</div>
			</div>
			{{#if data.refresh}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.layerRefreshInterval}}">{{i18n.layerRefreshInterval}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}}">
						<p>{{data.refresh}} {{i18n.seconds}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.urlSource}}
				<div>
					<div class="rowLeft inlineRow {{RowColServiceOGCCatalog 'left'}}">
						<span title="{{i18n.download}}">{{i18n.download}}</span>
					</div>
					<div class="{{RowColServiceOGCCatalog 'right'}} detailsRowFlex">
						{{DownloadServiceOGC data.urlSource data.name}}
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>
