<div class='scrollWrapper'>
	<div class="detailsView">
		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.parameterUnit}}</legend>
					<div class="detailsValue">
						<span>{{data.parameterUnit.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.device}}</legend>
					<div class="detailsValue">
						<span>{{data.device.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.derivedData}}</legend>
					<div class="detailsValue">
						<span>{{data.derivedData}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.description}}</legend>
					<div class="detailsValue">
						<span>{{breaklines data.description}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.significantDigits}}</legend>
					<div class="detailsValue">
						<span>{{data.significantDigits}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.maxValue}}</legend>
					<div class="detailsValue">
						<span>{{data.maxValue}}</span>
					</div>
				</fieldset>
			</div>
		</div>

	</div>
</div>
