<div class='scrollWrapper'>
	<div class="detailsView">
		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.dataDefinition}}</legend>
					<div class="detailsValue">
						<span>{{breaklines data.dataDefinition.description}}</span>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.intervalUnit}}</legend>
					<div class="detailsValue">
						<span>{{data.intervalUnit.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.interval}}</legend>
					<div class="detailsValue">
						<span>{{datainterval}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.regularity}}</legend>
					<div class="detailsValue">
						<span>{{data.regularity}}</span>
					</div>
				</fieldset>
			</div>
		</div>

	</div>
</div>
