<span class='spanTemplate spanTemplateTable'>
	<span class='rowSpan'>
		{{DateTime data.date}}
	</span>
	<span class='rowSpan'>
		{{ChkIsNull data.value}}
	</span>
	<span class='rowSpan'>
		{{ChkIsNull data.qFlag}}
	</span>
	<span class='rowSpan'>
		{{ChkIsNull data.vFlag}}
	</span>
	<span class='rowSpan'>
		{{ChkIsNull data.remark}}
	</span>
</span>