<span class='spanTemplate'>
	<span class='title' title='{{ChkIsNull data.name}}'>
		<span class='name'>{{ChkIsNull data.name}}</span>
	</span>
	<span class='subtitle' title='{{data.code}}'>
		{{data.code}}
	</span>
	<span class='subtitle' title='{{lang data.areaType}}'>
		{{lang data.areaType}}
	</span>
</span>