<span class='spanTemplate'>
	<span class='title' title='{{ChkIsNull data.site.name}}'>
		<span class='name'>{{ChkIsNull data.site.name}}</span>
	</span>
	<span class='subtitle' title='{{ChkIsNull data.site.code}}'>
		{{ChkIsNull data.site.code}}
	</span>
	<span class='subtitle' title='[Lng:{{data.coordinates.[0]}} - Lat:{{data.coordinates.[1]}}]'>
		{{i18n.start}}: [Lng:{{data.coordinates.[0]}} - Lat: {{data.coordinates.[1]}}]
	</span>
</span>