<div class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.name}} </span>
	</span>
	<span class='subtitle'>
		{{data.taxon.scientificName}}
	</span>
	<div {{ExpandOrCollapse}}>
		<span class='title'>
			<span class='name'>{{ChkIsNull data.name}} </span>
		</span>
		<span class='subtitle'>
			{{data.taxon.scientificName}}
		</span>
	</div>
</div>
