<span class='spanTemplate spanTemplateCharts'>
	<span class='title'>
		{{data.info.parameter.name}}
	</span>
	<span class='subtitle typeDataSubtitle'>
		<span class='name'>
			{{Translate i18n data.label "_"}} | <span title="{{i18n.zProAlt}}">{{data.info.definition.z}} m</span>
		</span>
	</span>
	<span class='subtitle deviceSubtitle'>
		{{i18n.station}}: {{data.info.station.name}}
	</span>
</span>