<span class='spanTemplate'>
	<span>
		{{i18n.code}}: <b>{{data.code}}</b> - {{i18n.type}}: <b>{{data.type}}</b>
	</span>
	<span class='subtitle'>
		{{i18n.provider}}: <b>{{data.provider}}</b>
	</span>
</span>
