<span class='spanTemplate'>
	{{#if data.properties.code}}
	<span class='paddingItemInRow'>
		{{bold i18n.code}}: {{#if data.properties.url}}{{TextURL data.properties.url data.properties.code i18n.viewAtRedpromar}}{{else}}{{data.properties.code}}{{/if}}
	</span>
	{{/if}}
	{{#if data.properties.collectorname}}
	<span class='paddingItemInRow'>
		{{bold i18n.author}}: {{data.properties.collectorname}}
	</span>
	{{/if}}
	{{#if data.properties.date}}
	<span class='paddingItemInRow'>
		{{bold i18n.date}}: {{DateTime data.properties.date}}
	</span>
	{{/if}}
	{{#if data.geometry.coordinates}}
	<span class='paddingItemInRow'>
		{{bold i18n.x}}: {{toFixed data.geometry.coordinates.[0] 5}}
	</span>
	<span class='paddingItemInRow'>
		{{bold i18n.y}}: {{toFixed data.geometry.coordinates.[1] 5}}
	</span>
	{{/if}}
	{{#if data.properties.specimencount}}
	<span class='paddingItemInRow'>
		{{bold i18n.count}}: {{data.properties.specimencount}}
	</span>
	{{/if}}
	{{#if data.properties.z}}
	<span class='paddingItemInRow'>
		{{bold i18n.z}}: {{data.properties.z}}
	</span>
	{{/if}}
	{{#if data.properties.scientificname}}
	<span class='paddingItemInRow'>
		{{bold i18n.scientificname}}: {{#if data.properties.taxonurl}}{{TextURL data.properties.taxonurl data.properties.scientificname i18n.viewAtRedpromar}}{{else}}{{data.properties.scientificname}}{{/if}}
	</span>
	{{/if}}
	{{#if data.properties.divulgativename}}
	<span class='paddingItemInRow'>
		{{bold i18n.commonName}}: {{data.properties.divulgativename}}
	</span>
	{{/if}}
	{{#if data.properties.scientificcategory}}
	<span class='paddingItemInRow'>
		{{bold i18n.scientificcategory}}: {{data.properties.scientificcategory}}
	</span>
	{{/if}}
	{{#if data.properties.divulgativecategory}}
	<span class='paddingItemInRow'>
		{{bold i18n.divulgativecategory}}: {{data.properties.divulgativecategory}}
	</span>
	{{/if}}
	{{#if data.properties.activityid}}
	<span class='paddingItemInRow'>
		{{bold i18n.activity}}: {{TextURL (concat 'catalog/activity-info/' data.properties.activityid) data.properties.activityid i18n.goToActivity}}
	</span>
	{{/if}}
</span>
