<div class="content">
	<div class="grid col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="contentGrid">
			<div class="row">
				<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
					<span title="{{i18n.author}}">{{i18n.author}}</span>
				</div>
				<div class="{{RowColBibliography 'right'}}">
					<p>{{data.author}}</p>
				</div>
			</div>
			{{#if data.year}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.year}}">{{i18n.year}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}}">
						<p>{{data.year}}</p>
					</div>
				</div>
			{{/if}}
			<div class="row">
				<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
					<span title="{{i18n.source}}">{{i18n.source}}</span>
				</div>
				<div class="{{RowColBibliography 'right'}}">
					<p>{{data.source}}</p>
				</div>
			</div>
			{{#if data.keyword}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.keyword}}">{{i18n.keyword}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}}">
						<p>{{Keyword data.keyword}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.documentType}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.documentType}}">{{i18n.documentType}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}}">
						<p>{{lang data.documentType}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.language}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.language}}">{{i18n.language}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}}">
						<p>{{Translate i18n data.language}}</p>
					</div>
				</div>
			{{/if}}
			{{#if shownOption.remark}}
				{{#if data.remark}}
					<div class="row">
						<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
							<span title="{{i18n.remark}}">{{i18n.remark}}</span>
						</div>
						<div class="{{RowColBibliography 'right'}}">
							<p>{{breaklines data.remark}}</p>
						</div>
					</div>
				{{/if}}
			{{/if}}
			{{#if data.updated}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.updated}}">{{i18n.updated}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}}">
						<p>{{DateTime data.updated}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.code}}
				<div class="row">
					<div class="rowLeft inlineRow {{RowColBibliography 'left'}}">
						<span title="{{i18n.code}}">{{i18n.code}}</span>
					</div>
					<div class="{{RowColBibliography 'right'}} code">
						<p>{{data.code}}</p>
					</div>
				</div>
			{{/if}}
		</div>
</div>