<div class="content">
	<div class="grid">
		<div class="contentGrid">
			{{#if data.code}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.code}}">{{i18n.code}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.code}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.parent}}
				{{ancestorsActivity data.parent i18n}}
			{{/if}}
			{{#if data.projectGroup}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.projectGroup}}">{{i18n.projectGroup}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{lang data.projectGroup}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.updated}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.updated}}">{{i18n.updated}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{DateTime data.updated}}</p>
					</div>
				</div>
			{{/if}}
			<div>
				<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
					<span title="{{i18n.startDate}}">{{i18n.startDate}}</span>
				</div>
				<div class="{{RowColActivityCatalog 'right'}}">
					<p>
						{{#if data.startDate}}
							{{DateTime data.startDate}}
						{{else}}
							-
						{{/if}}
					</p>
				</div>
			</div>
			<div>
				<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
					<span title="{{i18n.endDate}}">{{i18n.endDate}}</span>
				</div>
				<div class="{{RowColActivityCatalog 'right'}}">
					<p>
						{{#if data.endDate}}
							{{DateTime data.endDate}}
						{{else}}
							-
						{{/if}}
					</p>
				</div>
			</div>
			{{#if data.accessibility}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.accessibility}}">{{i18n.accessibility}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{lang data.accessibility}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.project}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.project}}">{{i18n.project}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.project}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.embargo}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.embargo}}">{{i18n.embargo}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.embargo}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.scope}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.scope}}">{{i18n.scope}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{lang data.scope}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.description}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.description}}">{{i18n.description}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{breaklines data.description}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.note}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.note}}">{{i18n.note}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{breaklines data.note}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.keywords}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.keywords}}">{{i18n.keywords}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.keywords}}</p>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>
