<span class='spanTemplate'>
	<span class='title' title='{{i18n.date}}'>
		{{DateTime data.date}}
	</span>
	<span class='subtitle'>
		{{#if data.observationDTO.animal}}
		{{TextURL
			(concat '/catalog/animal-info/' data.observationDTO.animal.id)
			data.observationDTO.animal.name
			i18n.checkAnimalAtCatalog}}
		{{/if}}
		{{#if data.observationDTO.taxonomy}}
		<span class='cursive'>
			- {{TextURL
				(concat 'https://redpromar.org/species/' data.observationDTO.taxonomy.id)
				data.observationDTO.taxonomy.scientificName
				i18n.checkSpeciesAtCatalog}}
		</span>
		{{/if}}
		{{#if data.observationDTO.device}}
		<span title='{{i18n.device}}'>
			- {{ChkIsNull data.observationDTO.device.name}} ({{ChkIsNull data.observationDTO.device.model}})
		</span>
		{{/if}}
</span>
