<span class='spanTemplate'>
	<span class='title' title='{{ChkIsNull data.name}}'>
		<span class='name'>{{ChkIsNull data.name}}</span>
	</span>
	<span class='subtitle' title='{{ChkIsNull data.code}}'>
		{{ChkIsNull data.code}}
	</span>
	<span class='subtitle' title='{{ChkIsNull data.date}}'>
		{{ChkIsNull data.date}}
	</span>
</span>
