<div class='scrollWrapper'>
	<div class="detailsView">

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.name}}</legend>
					<div class="detailsValue">
						<span>{{data.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.parameterType}}</legend>
					<div class="detailsValue">
						<span>{{data.parameterType.name}}</span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="detailsRowTop">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>{{i18n.acronym}}</legend>
					<div class="detailsValue">
						<span>{{data.acronym}}</span>
					</div>
				</fieldset>
			</div>
		</div>

	</div>
</div>
