<div class="content">
	<div class="grid">
		<div class="contentGrid">
			{{#if shownOption.id}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.id}}">{{i18n.id}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.id}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.code}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.code}}">{{i18n.code}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}} detailsRowWithBadge">
						{{#if data.starred}}
							{{ActivityStarred data i18n}}
						{{/if}}
						<p>{{data.code}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.ancestors}}
				{{ancestorsActivity data.ancestors i18n}}
			{{/if}}
			{{#if data.activityType}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.activityType}}">{{i18n.activityType}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>
							{{lang data.activityType}}
							{{#if data.activityType.activityField}}
								({{lang data.activityType.activityField}})
							{{/if}}
						</p>
					</div>
				</div>
			{{/if}}
			{{#if data.themeInspire}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.themeInspire}}">{{i18n.themeInspire}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}} detailsRowWithBadge">
						{{ActivityInspireTheme data i18n}}
						<span>{{data.themeInspire.name}}</span>
					</div>
				</div>
			{{/if}}
			{{#if data.updated}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.updated}}">{{i18n.updated}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{DateTime data.updated}}</p>
					</div>
				</div>
			{{/if}}
			<div>
				<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
					<span title="{{i18n.startDate}}">{{i18n.startDate}}</span>
				</div>
				<div class="{{RowColActivityCatalog 'right'}} detailsRowWithBadge">
					{{ActivityOpenStatus data i18n}}
					<p>
						{{#if data.startDate}}
							{{DateTime data.startDate}}
						{{else}}
							-
						{{/if}}
					</p>
				</div>
			</div>
			<div>
				<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
					<span title="{{i18n.endDate}}">{{i18n.endDate}}</span>
				</div>
				<div class="{{RowColActivityCatalog 'right'}}">
					<p>
						{{#if data.endDate}}
							{{DateTime data.endDate}}
						{{else}}
							-
						{{/if}}
					</p>
				</div>
			</div>
			{{#if data.accessibility}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.accessibility}}">{{i18n.accessibility}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}} detailsRowWithBadge">
						{{ActivityAccessibilityStatus data i18n}}
						<p>{{lang data.accessibility}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.embargo}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.embargo}}">{{i18n.embargo}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.embargo}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.scope}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.scope}}">{{i18n.scope}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{lang data.scope}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.description}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.description}}">{{i18n.description}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{breaklines data.description}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.keywords}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.keywords}}">{{i18n.keywords}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.keywords}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.license}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.license}}">{{i18n.license}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{breaklines data.license}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.note}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.note}}">{{i18n.note}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{breaklines data.note}}</p>
					</div>
				</div>
			{{/if}}
			{{#if data.resources}}
				{{#each data.resources}}
					<div>
						<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
							<span title="{{../i18n.resource}}">{{../i18n.resource}}</span>
						</div>
						<div class="{{RowColActivityCatalog 'right'}} detailsRowWithBadge">
							{{ActivityResources ../data ../i18n}}
							<div>
								<p>{{resourceType.name}}</p>
								<p>{{resourceType.description}}</p>
								<p>{{TextURL urlResource ../i18n.link urlResource}}</p>
							</div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>
