<span class='spanTemplate'>
	<span class='title'>
		<span class='name'>{{ChkIsNull data.name}} </span>
	</span>
	<span class='subtitle'>
		{{#if data.code}}
			{{ChkIsNull data.code}}
		{{/if}}
		{{#if data.activityType}}
			{{#if data.code}}
			 |
			{{/if}}
			{{lang data.activityType}}
		{{/if}}
	</span>
	<span class='badgesContainer'>
		{{ActivityOpenStatus data i18n}}
		{{ActivityEmbargoStatus data i18n}}
	</span>
</span>
