<div class="content">
	<div class="grid">
		<div class="contentGrid">
			{{#if data.method}}
				<div>
					<div class="rowLeft inlineRow {{RowColActivityCatalog 'left'}}">
						<span title="{{i18n.method}}">{{i18n.method}}</span>
					</div>
					<div class="{{RowColActivityCatalog 'right'}}">
						<p>{{data.method}}</p>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>
